<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My website Login</title>
</head>
<body>
  {% include 'base/navbar.html' %}
  <h1>Login</h1>
  <form method="POST">
    {% csrf_token %}
    <input placeholder="username" type="text" name="username" id="username">
    <input placeholder="password" type="password" name="password" id="password">
    <button type="submit">Submit</button>
  </form>
</body>
</html>